<div class="reply">
  <div class="media-left">
    <%=  link_to user_path(reply.user) do %>
      <%= user_photo(reply.user, 'media-object avatar-48') %>
    <% end %>
  </div>
  <div class="media-body">
    <div class="info">
      <span class="name">
        <b><%= link_to reply.user.username, user_path(reply.user) %></b>
      </span> ·
      <span class="time">
        <a class="reply-floor" href="#reply1">#1</a> · <abbr class="timeago" title="2016-08-29T13:51:39+08:00"> one day ago</abbr>
      </span>
      <span class="pull-right">
          <span class="hideable">
          <!-- <a class="edit fa fa-pencil" data-uid="1" title="修改回帖" href="/topics/30925/replies/304274/edit"></a>
          <a data-floor="1" data-login="Rei" title="Reply to this floor" class="btn-reply fa fa-mail-reply" href="#"></a> -->
          </span>
          <a title="赞" data-count="2" data-state="" data-type="Reply" data-id="304274" class="likeable " href="#"><i class="fa fa-heart-o"></i> <span>2 个赞</span></a>
      </span>
    </div>
    <div class="markdown">
      <p><%= reply.body %></p>
    </div>
  </div>
</div>