<div class="panel panel-default">
  <div class="panel-body">
    <% if @topics.present? %>
      <table class="table node-topics">
        <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= link_to topic.title, topic_path(topic) %></td>
            <td>Created_at: <%= format_time topic.created_at %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="panel-footer"></div>
</div>

<script>
$(function () {
  $(".user_topics").addClass('active');
})
</script>