<div class="panel panel-default topics">
  <div class="panel-heading">Topics</div>
  <div class="panel-body">
    <%= render @topics %>
  </div>
  <div class="panel-footer"><%= paginate @topics %></div>
</div>



