<div class="panel panel-default">
  <div class="panel-body">
    <% if @users.present? %>
      <% @users.each do |user| %>
        <div class="media user-card">
          <div class="media-left"><%= link_to user_photo(user, ''), user %></div>
          <div class="media-body">
            <div class="media-heading"><%= link_to user.username, user %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
$(function () {
  $(".user_following").addClass('active')
  $('.infos')
})
</script>