<div class="panel panel-default">
  <div class="panel-body">
    <p class="navbar-text">Signed in as Mark Ottofffffgfd</p>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <div class="media-heading"><a title="RubyConf China 2016 讲师和主题介绍 (7/14)" href="/topics/30595">RubyConf China 2016 讲师和主题介绍 (7/14)</a></div>
        <div class="count media-body">xxxxxxxxx</div>
        <div class="count media-right">
          <a class="state-false" href="#">33</a>
        </div>
      </div>
    </div>
  </div>
</div

