// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#note{
  .panel-heading{
    .glyphicon-trash,
    .glyphicon-pencil{
      float:right;
      margin-right: 10px;
    }
    .glyphicon-pencil:hover,
    .glyphicon-trash:hover{
      cursor:pointer;
      background-color: #E9EAED;
    }
  }
}

.node {
  min-height: 68px;
  border-bottom: 1px solid #F0F0F0;
  padding: 10px 15px;
  margin: 0 -15px;
  vertical-align: top;
  position: relative;
  &:last-child { border-bottom: 0px; }
  .avatar { text-align:center; }
  .title {
    font-size: 15px;
    margin-bottom: 0;
    a:link,
    a:visited { color: #222; font-weight: 400; line-height: 30px; }
    i.fa { color: #999; margin-left: 3px; }
    i.fa-diamond { color: red; }
  }
  .info {
    color: #ABA8A6; font-size: 12px; margin-top: 0;
    a { color: #ABA8A6; }
  }
}