<div id="notes"  class="panel panel-default">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    <% @notes.each do |note| %>
      <div class="media">
        <div class="media-body">
          <div class="media-heading"><h5><b><%= link_to note.title, users_note_path(note) %></b></h5></div>
          <div class="media-body info"><%= note.created_at %></div>
          <div class="media-right"><i class="glyphicon glyphicon-pencil"></i></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer"></div>
</div>